<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%- include("header") %>
</head>
<body>

<div class="page-wrapper">
    <%- include("navbar") %>

    <section class="inner-banner">
        <div class="container">
            <ul class="thm-breadcrumb">
                <li><a href="/">Home</a></li>
                <li><span class="sep">.</span></li>
                <li><span class="page-title">About Us</span></li>
            </ul><!-- /.thm-breadcrumb -->
            <h2>About Us</h2>
        </div><!-- /.container -->
    </section><!-- /.inner-banner -->

    <section class="about-style-two">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="content-block">
                        <div class="block-title">
                            <div class="dot-line"></div><!-- /.dot-line -->
                            <p>Few words about conexi</p>
                            <h2>Learn about our <br/> taxi company</h2>
                        </div><!-- /.block-title text-center -->
                        <p>As we are into the market.We don't gave you have false hope.Right now we are starting from areas like Chandigarh,Amritsar,Jalandhar,etc..
                            Here we provide our customers with an all-hours service, well trained drivers and clean, comfortable taxis.
                            We have all the qualities of an efficient, trustworthy and reliable taxi service.</p>

                    </div><!-- /.content-block -->
                </div><!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="hvr-float-shadow">
                        <div class="image-block">
                            <img src="/images/man1.jpeg" alt="Awesome Image"/>
                            <div class="bubble-block">
                                <div class="inner-block">
                                    <p>Trusted by</p>
                                    <span class="counter">3067</span>
                                </div><!-- /.inner-block -->
                            </div><!-- /.bubble-block -->
                        </div><!-- /.image-block -->
                    </div><!-- /.hvr-float-shadow -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.about-style-two -->
    <hr class="style-one"/>
    <div class="brand-carousel-wrapper">
        <div class="container">
            <div class="brand-carousel-one owl-theme owl-carousel">
                <div class="item">
                    <img src="/images/brand/brand-1-1.jpg" alt="Awesome Image"/>
                </div><!-- /.item -->
                <div class="item">
                    <img src="/images/brand/brand-1-2.jpg" alt="Awesome Image"/>
                </div><!-- /.item -->
                <div class="item">
                    <img src="/images/brand/brand-1-3.jpg" alt="Awesome Image"/>
                </div><!-- /.item -->
                <div class="item">
                    <img src="/images/brand/brand-1-4.jpg" alt="Awesome Image"/>
                </div><!-- /.item -->
                <div class="item">
                    <img src="/images/brand/brand-1-5.jpg" alt="Awesome Image"/>
                </div><!-- /.item -->
                <div class="item">
                    <img src="/images/brand/brand-1-1.jpg" alt="Awesome Image"/>
                </div><!-- /.item -->
                <div class="item">
                    <img src="/images/brand/brand-1-2.jpg" alt="Awesome Image"/>
                </div><!-- /.item -->
                <div class="item">
                    <img src="/images/brand/brand-1-3.jpg" alt="Awesome Image"/>
                </div><!-- /.item -->
                <div class="item">
                    <img src="/images/brand/brand-1-4.jpg" alt="Awesome Image"/>
                </div><!-- /.item -->
                <div class="item">
                    <img src="/images/brand/brand-1-5.jpg" alt="Awesome Image"/>
                </div><!-- /.item -->
            </div><!-- /.brand-carousel-one -->
        </div><!-- /.container -->
    </div><!-- /.brand-carousel-wrapper -->
    <section class="feature-style-one thm-black-bg">
        <img src="/images/background/feature-bg-1-1.png" alt="Awesome Image" class="feature-bg"/>
        <div class="container">
            <div class="block-title text-center">
                <div class="dot-line"></div><!-- /.dot-line -->
                <p>Conexi benefit list</p>
                <h2 class="light">Why choose us</h2>
            </div><!-- /.block-title text-center -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-feature-one">
                        <div class="icon-block">
                            <i class="conexi-icon-insurance"></i>
                        </div><!-- /.icon-block -->
                        <h3><a href="#">Safety Guarantee</a></h3>
                        <p>You're Safety  <br> is Priority.<br>We offer you the best we have by keeping in mind all your needs .</p>

                    </div><!-- /.single-feature-one -->
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="single-feature-one">
                        <div class="icon-block">
                            <i class="conexi-icon-seatbelt"></i>
                        </div><!-- /.icon-block -->
                        <h3><a href="#">DBS Cleared Drivers</a></h3>
                        <p>Drivers are assigned when they clear<br> all the background checks.Also you can see  <br> with whom you're driving prior to your drive .</p>

                    </div><!-- /.single-feature-one -->
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="single-feature-one">
                        <div class="icon-block">
                            <i class="conexi-icon-consent"></i>
                        </div><!-- /.icon-block -->
                        <h3><a href="#">Free Quotation</a></h3>
                        <p>Offer you all the<br> details that you need.<br>If because of us any problem is created in your journery.It will be free</p>

                    </div><!-- /.single-feature-one -->
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.feature-style-one -->
<!-- /.history-style-one -->
    <section class="offer-style-one">
        <div class="container">
            <div class="block-title text-center">
                <div class="dot-line"></div><!-- /.dot-line -->
                <p>Check out our benefits</p>
                <h2>What we’re offering</h2>
            </div><!-- /.block-title -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-offer-one hvr-float-shadow">
                        <div class="image-block">

                            <img src="/images/resources/offer-1-1.jpg" alt="Awesome Image"/>
                        </div><!-- /.image-block -->
                        <div class="text-block">
                            <h3>Public Transportation</h3>
                            <p>Committed to help cities around the world make public transportation more accessible, equitable, and efficient</p>

                        </div><!-- /.text-block -->
                    </div><!-- /.single-offer-one -->
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="single-offer-one hvr-float-shadow">
                        <div class="image-block">

                            <img src="/images/resources/offer-1-2.jpg" alt="Awesome Image"/>
                        </div><!-- /.image-block -->
                        <div class="text-block">
                            <h3>Home pickups</h3>
                            <p>We will pickup you up from your address without creating any mess.The taxi will reach at your doorstep</p>

                        </div><!-- /.text-block -->
                    </div><!-- /.single-offer-one -->
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="single-offer-one hvr-float-shadow">
                        <div class="image-block">

                            <img src="/images/resources/offer-1-3.jpg" alt="Awesome Image"/>
                        </div><!-- /.image-block -->
                        <div class="text-block">
                            <h3>Safety & Transparency</h3>
                            <p> Before the ride, a user can check the driver’s profile, including their name and identity</p>

                        </div><!-- /.text-block -->
                    </div><!-- /.single-offer-one -->
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.offer-style-one -->
    <section class="cta-style-one text-center">
        <div class="container">
            <p>Call 24 hour service available</p>
            <h3>Call now and book <br> our taxi for your next ride</h3>
            <a href="taxi" class="cta-btn">Choose Your Taxi</a>
        </div><!-- /.container -->



    </section>
</div>
<%- include("footer") %>
</body>
</html>