<div class="preloader"></div><!-- /.preloader -->

<header class="site-header header-one">
    <div class="top-bar">
        <div class="container">
            <div class="left-block">
                <a href=/userlogin><i class="fa fa-user-circle"></i> Customer Sign In</a>
                <a href="#"><i class="fa fa-envelope"></i> avneetrandhawa007@gmail.com</a>
            </div><!-- /.left-block -->

            <div class="social-block">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook-f"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </div><!-- /.social-block -->
        </div><!-- /.container -->
    </div><!-- /.top-bar -->

    <nav class="navbar navbar-expand-lg navbar-light header-navigation stricky">
        <div class="container clearfix">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="logo-box clearfix">
                <button class="menu-toggler" data-target="#main-nav-bar">
                    <span class="fa fa-bars"></span>
                </button>
            </div><!-- /.logo-box -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="main-navigation" id="main-nav-bar">
                <ul class="navigation-box">
                    <li><a href="/">Home</a></li>

                    <li><a href="/admin/add-admin"> Add Admin</a></li>

                    <li>
                        <a href="#">TAXI TYPE</a>
                        <ul class="sub-menu">
                            <li><a href="/admin/taxitype">Taxi Type</a></li>
                            <li><a href="/admin/viewtaxitype">View Taxi Type</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">Manage Cars/Drivers</a>
                        <ul class="sub-menu">
                            <li><a href="/admin/addcars">Add Cars</a></li>
                            <li><a href="/admin/viewdrivers">Manage Drivers</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">LOCATION</a>
                        <ul class="sub-menu">
                            <li><a href="/admin/city">City </a></li>
                            <li><a href="/admin/area"> Area </a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">Bookings</a>
                        <ul class="sub-menu">
                            <li><a href="/admin/newBookings">New Bookings</a></li>
                            <li><a href="/admin/assignedBookings">Assigned Bookings</a></li>
                            <li><a href="/admin/completeBookings">Complete Bookings</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">Login </a>
                        <ul class="sub-menu">

                            <li><a href="/driverslogin">Driver</a></li>
                            <li><a href="/userlogin">User</a></li>

                        </ul><!-- /.sub-menu -->
                    </li>

                    <li>
                        <a href="#">Privacy</a>
                        <ul class="sub-menu">
                            <li><a href="/admin/adminchangepassword">Change Password</a></li>
                            <li><a href="/admin/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>


            </div><!-- /.navbar-collapse -->

        </div>
        <!-- /.container -->
    </nav>
</header><!-- /.site-header header-one -->