<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%-include("header")%>
</head>
<body>
<%-include("navbar")%>
<section class="inner-banner">

    <div class="container">
        <ul class="thm-breadcrumb">
            <li><a href="/">Home</a></li>
            <li><span class="sep">.</span></li>
            <li><span class="page-title">Blog Page</span></li>
        </ul><!-- /.thm-breadcrumb -->
        <h2>Blog Listing</h2>
    </div><!-- /.container -->
</section><!-- /.inner-banner -->
<section class="blog-style-one blog-page">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-12">
                <div class="single-blog-style-one">
                    <div class="image-block">
                        <div class="inner-block">
                            <!--<a href="#"><i class="fa fa-link"></i></a>-->
                            <img src="/images/blog/blog-1-1.jpg" alt="Awesome Image" />
                        </div><!-- /.inner-block -->
                    </div><!-- /.image-block -->
                    <div class="text-block">
                        <div class="meta-info">
                            <a href="#" class="date-block">12 Jan, 2023</a>
                            <a href="#">by Admin</a>

                        </div><!-- /.meta-info -->
                        <h3>We ensure you that your journey is comfortable and safe</h3>
                        <p>Proactively offers its ride-hailing services across the country with well-maintained cars and professionally trained driver- partners.</p>
                    </div><!-- /.text-block -->
                </div><!-- /.single-blog-style-one -->
            </div><!-- /.col-xl-6 col-lg-12 -->
            <div class="col-xl-6 col-lg-12">
                <div class="single-blog-style-one">
                    <div class="image-block">
                        <div class="inner-block">

                            <img src="/images/blog/blog-1-2.jpg" alt="Awesome Image" />
                        </div><!-- /.inner-block -->
                    </div><!-- /.image-block -->
                    <div class="text-block">
                        <div class="meta-info">
                            <a href="#" class="date-block">21 Feb, 2023</a>
                            <a href="#">by Admin</a>


                        </div><!-- /.meta-info -->
                        <h3>Car with private and discreet cabman for a service</h3>
                        <p>If you are looking for a short yet memorable road trip, and look to go outstation-book a cabfrom Mumbai to Pune, and have an adorable adventure. </p>
                    </div><!-- /.text-block -->
                </div><!-- /.single-blog-style-one -->
            </div><!-- /.col-xl-6 col-lg-12 -->
            <div class="col-xl-6 col-lg-12">
                <div class="single-blog-style-one">
                    <div class="image-block">
                        <div class="inner-block">

                            <img src="/images/blog/blog-1-3.jpg" alt="Awesome Image" />
                        </div><!-- /.inner-block -->
                    </div><!-- /.image-block -->
                    <div class="text-block">
                        <div class="meta-info">
                            <a href="#" class="date-block">2 March, 2023</a>
                            <a href="#">by Admin</a>

                        </div><!-- /.meta-info -->
                        <h3>Our taxis commit to make your trips unique</h3>
                        <p> proactively offers its ride-hailing services across the country with well-maintained cars and professionally trained driver- partners. Our dynamic operations team and 24/7 customer helpline services are backed by a strong tech-driven ecosystem is put together to deliver the best ride experience to each and every customer.</p>
                    </div><!-- /.text-block -->
                </div><!-- /.single-blog-style-one -->
            </div><!-- /.col-xl-6 col-lg-12 -->
            <div class="col-xl-6 col-lg-12">
                <div class="single-blog-style-one">
                    <div class="image-block">
                        <div class="inner-block">

                            <img src="/images/blog/blog-1-4.jpg" alt="Awesome Image" />
                        </div><!-- /.inner-block -->
                    </div><!-- /.image-block -->
                    <div class="text-block">
                        <div class="meta-info">
                            <a href="#" class="date-block">20 April, 2023</a>
                            <a href="#">by Admin</a>

                        </div><!-- /.meta-info -->
                        <h3>Travel in style on the one day that counts</h3>
                        <p>There are many variations of passages of lorem ipsum available but the majority have suffered alteration...</p>
                    </div><!-- /.text-block -->
                </div><!-- /.single-blog-style-one -->
            </div><!-- /.col-xl-6 col-lg-12 -->
            <div class="col-xl-6 col-lg-12">
                <div class="single-blog-style-one">
                    <div class="image-block">
                        <div class="inner-block">

                            <img src="/images/blog/blog-1-5.jpg" alt="Awesome Image" />
                        </div><!-- /.inner-block -->
                    </div><!-- /.image-block -->
                    <div class="text-block">
                        <div class="meta-info">
                            <a href="#" class="date-block">20 May,2023</a>
                            <a href="#">by Admin</a>

                        </div><!-- /.meta-info -->
                        <h3>Learn how to get long distance travel in cheap rates</h3>
                        <p>Offers pocket friendly experience.With family or friends...</p>
                    </div><!-- /.text-block -->
                </div><!-- /.single-blog-style-one -->
            </div><!-- /.col-xl-6 col-lg-12 -->
            <div class="col-xl-6 col-lg-12">
                <div class="single-blog-style-one">
                    <div class="image-block">
                        <div class="inner-block">

                            <img src="/images/blog/blog-1-6.jpg" alt="Awesome Image" />
                        </div><!-- /.inner-block -->
                    </div><!-- /.image-block -->
                    <div class="text-block">
                        <div class="meta-info">
                            <a href="#" class="date-block">21 may, 2023</a>
                            <a href="#">by Admin</a>


                        </div><!-- /.meta-info -->
                        <h3>Our first choice for airport transfers and coporate travel </h3>
                        <p>Airport cab service is our forte! Our airport taxi service is operational at  major airports of India with dedicated airport taxi booking counters set up within the airport premises.business travel management services for employee commute, car rentals, airport transfers, city rides,</p>
                    </div><!-- /.text-block -->
                </div><!-- /.single-blog-style-one -->
            </div><!-- /.col-xl-6 col-lg-12 -->
        </div><!-- /.row -->

    </div><!-- /.container -->
</section><!-- /.blog-style-one -->
<%-include("footer")%>
</body>
</html>