
<body>
<footer class="site-footer ">
    <img src="/images/background/footer-bg-1-1.png" class="footer-bg" alt="Awesome Image" />
    <div class="upper-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-widget about-widget">
                        <div class="widget-title">
                            <h3>About</h3>
                        </div><!-- /.widget-title -->
                        <p>We promise you the best services we have in our hand.Trust us and book a ride. One ride = experience, then give your views </p>
                        <div class="social-block">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook-f"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div><!-- /.social-block -->
                    </div><!-- /.footer-widget about-widget -->
                </div><!-- /.col-lg-3 -->
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h3>Links</h3>
                        </div><!-- /.widget-title -->
                        <ul class="link-lists">
                            <li><a href="/about">About</a></li>
                            <li><a href="/user/select-taxi">Get a Taxi</a></li>
                            <li><a href="#">Our Reviews</a></li>
                            <li><a href="#">Latest News</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div><!-- /.footer-widget -->
                </div><!-- /.col-lg-2 -->
                <div class="col-lg-3">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h3>Contact</h3>
                        </div><!-- /.widget-title -->
                        <p>86,Ranjit Avenue B-block <br>Amritsar,India</p>
                        <ul class="contact-infos">
                            <li><i class="fa fa-envelope"></i> avneetrandhawa007@gmail.com</li>
                            <li><i class="fa fa-phone-square"></i>8511900004</li>
                        </ul><!-- /.contact-infos -->
                    </div><!-- /.footer-widget -->
                </div><!-- /.col-lg-3 -->
                <div class="col-lg-4">

                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.upper-footer -->
    <div class="bottom-footer">
        <div class="container">
            <div class="inner-container">
                <div class="left-block">
                    <a href="/" class="footer-logo"><img src="/images/resources/logo-1-1.png" alt="Awesome Image" /></a>
                    <span>&copy; 2023 <a href="#">Avneet</a></span>
                </div><!-- /.left-block -->
                <div class="right-block">
                    <ul class="link-lists">
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div><!-- /.right-block -->
            </div><!-- /.inner-container -->
        </div><!-- /.container -->
    </div><!-- /.bottom-footer -->
</footer><!-- /.site-footer -->
</div><!-- /.page-wrapper -->
<a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>
<!-- /.scroll-to-top -->
<script src="/js/jquery.js"></script>
<script src="/dist/jquery.validate.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/jquery.counterup.min.js"></script>
<script src="/js/jquery.bxslider.min.js"></script>
<script src="/js/theme.js"></script>
</body>