<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Book Your Taxi</title>
    <style>
        .error {
            color: red;
        }
    </style>
    <%- include("header") %>
</head>

<body>
<%- include("userheader") %>
<section class="inner-banner">
    <div class="container">
        <ul class="thm-breadcrumb">
            <li><a href="/">Home</a></li>
            <li><span class="sep">.</span></li>
            <li><a href="/login">Login</a></li>
            <li><span class="sep">.</span></li>
            <li><span class="page-title">Contact</span></li>
        </ul><!-- /.thm-breadcrumb -->
        <h2>Forgot Passsword</h2>
    </div><!-- /.container -->
</section>
<div class="container">
    <h3>Forgot Password </h3>
    <form id="forgotpasswordForm">
        <div class="mb-2">
            <label for="email" class="form-label">Enter Email:</label>
            <input type="email" name="email" id="email" class="form-control" required
                   data-msg-required="Email is required"/>
        </div>
        <div class="mb-2">
            <button class="btn btn-primary" id="btn" type="button" style="display: inline-block; vertical-align: middle; color: black; font-size: 16px; font-weight: 600; background-color:#ffbe07;border-radius: 29px; border-color: black;padding: 12px 77px;transition: all .4s ease;margin-top: 30px;" onclick="forgotpassword()"> Change Password</button>
        </div>
        <div id="output"></div>
    </form>
</div>

<%- include("footer") %>
</body>
<script>
    function forgotpassword() {
        $("#forgotpasswordForm").validate();
        if ($("#forgotpasswordForm").valid()) {
            let email = document.getElementById("email").value;
            var http = new XMLHttpRequest();
            http.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    if (this.response == "success") {
                        localStorage.setItem("email", email);
                        window.location.href = "/user/resetpassword";
                    } else {
                        alert("Email Doesnot exists! Please try again :)");
                    }
                }
            }
            http.open("get", "/user/forgotpasswordaction?email=" + email, true);
            http.send();
        }
    }

</script>
</html>