<div class="preloader"></div><!-- /.preloader -->

<header class="site-header header-one">
    <div class="top-bar">
        <div class="container">
            <div class="left-block">
                <a href="/usersignup"><i class="fa fa-user-circle"></i> Customer Sign In</a>
                <a href="#"><i class="fa fa-envelope"></i> avneetrandhawa007@gmail.com</a>
            </div><!-- /.left-block -->
            <div class="logo-block">
                <a href="/"><img src="/images/resources/logo-1-1.png" alt="Awesome Image" /></a>
            </div><!-- /.logo-block -->
            <div class="social-block">
                <a href="//www.twitter.com"><i class="fa fa-twitter"></i></a>
                <a href="//www.facebook.com"><i class="fa fa-facebook-f"></i></a>
                <a href="//www.youtube.com"><i class="fa fa-youtube-play"></i></a>
                <a href="//www.google.com"><i class="fa fa-google-plus"></i></a>
            </div><!-- /.social-block -->
        </div><!-- /.container -->
    </div><!-- /.top-bar -->
    <nav class="navbar navbar-expand-lg navbar-light header-navigation stricky">
        <div class="container clearfix">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="logo-box clearfix">
                <button class="menu-toggler" data-target="#main-nav-bar">
                    <span class="fa fa-bars"></span>
                </button>
            </div><!-- /.logo-box -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="main-navigation" id="main-nav-bar">
                <ul class="navigation-box">
                    <li class=" current ">
                        <a href="/">Home</a>
                    </li>
                    <!--  <ul class="sub-menu">
                          <li><a href="index">Home One</a></li>
                          <li><a href="index2">Home Two</a></li>
                          <li><a href="index">Header Versions</a>
                              <ul class="sub-menu">
                                  <li><a href="index">Header One</a></li>
                                  <li><a href="index2">Header Two</a></li>
                              </ul>/.sub-menu
                          </li>
                      </ul> /.sub-menu -->

                    <li><a href="/about">About</a></li>
                    <li>
                        <a href="#">SignUp</a>
                        <ul class="sub-menu">
                            <!-- <li><a href="/admin/add-admin">Admin SignUP</a></li>-->

                            <li><a href="/user/adduser">User SignUp</a></li>
                        </ul><!-- /.sub-menu -->
                    </li>
                    <li>
                        <a href="#">Login</a>
                        <ul class="sub-menu">
                            <li><a href="/login">Admin Login</a></li>
                            <li><a href="/driverslogin">Driver Login</a></li>
                            <li><a href="/userlogin">User Login</a></li>
                        </ul><!-- /.sub-menu -->
                    </li>
                    <li>
                        <a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li><a href="/driver">Our Drivers</a></li>
                            <li><a href="/taxi">Our Taxi</a></li>
                            <!--  <li><a href="/singletaxi">Taxi Details</a></li>-->
                        </ul><!-- /.sub-menu -->
                    </li>
                    <li><a href="/user/select-taxi">Book A Ride</a></li>
                    <li>
                        <a href="/blog">Blog</a>
                        <ul class="sub-menu">
                            <li><a href="/blog">Blog Grid</a></li>
                        </ul><!-- /.sub-menu -->
                    </li>
                    <li><a href="/contact">Contact</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
            <div class="right-side-box">
                <a href="callto:8511900004" class="contact-btn-block">
                            <span class="icon-block">
                                <i class="conexi-icon-phone-call"></i>
                            </span>
                    <span class="text-block">
                                8511900004
                                <span class="tag-line">Phone line</span>
                            </span>
                </a>
            </div><!-- /.right-side-box -->
        </div>
        <!-- /.container -->
    </nav>
</header><!-- /.site-header header-one -->
