<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Your Taxi</title>
    <style>
        .error {
            color: red;
        }
    </style>
    <%- include("header") %>
</head>
<body>
<%- include("userheader") %>
<br><br><br>
<section class="inner-banner">
    <div class="container">
        <ul class="thm-breadcrumb">
            <li><a href="/">Home</a></li>
            <li><span class="sep">.</span></li>
            <li><span class="page-title">Reset</span></li>
        </ul><!-- /.thm-breadcrumb -->
        <h2> Reset Password</h2>
    </div><!-- /.container -->
</section>
<div class="container">
    <form id="resetpasswordform">
        <div class="row">
            <div class="col-md-6 ">
                <label for="password"> Enter Password: </label>
                <input type="password" name="password" id="password" class="form-control" required
                       data-msg-required="Password is required"/>

            </div>

            <div class="col-md-6 ">
                <label for="cpassword"> Confirm Password: </label>
                <input type="password" name="cpassword" id="cpassword" class="form-control" required
                       data-rule-required="true" data-rule-equalto="#password"
                       data-msg-required="Please Confirm your password"/>

            </div>
            <div class="col-md-6 mt-2">
                <button type="button"style="display: inline-block; vertical-align: middle; color: black; font-size: 16px; font-weight: 600; background-color:#ffbe07;border-radius: 29px; border-color: black;padding: 12px 77px;transition: all .4s ease;margin-top: 30px;" onclick="resetpassword()" class="btn btn-primary btn-lg"> CHANGE PASSWORD
                </button>
            </div>
            <div id="output1"></div>
        </div>
    </form>
</div>
<script>
    function resetpassword() {
        $("#resetpasswordform").validate();

        if ($("#resetpasswordform").valid()) {
            let password = document.getElementById("password").value;
            let cpassword = document.getElementById("cpassword").value;
            let email = localStorage.getItem("email");
            var http = new XMLHttpRequest();
            http.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    /* document.getElementById(#resetpasswordform).reset();
                     document.getElementById("output1").innerHTML = "Password Changed Successfully";*/
                    console.log(this.response);
                    if (this.response === "success") {
                        window.location.href = "/userlogin";
                    }
                }
            }
            http.open("get", "/user/resetpasswordaction?email=" + email + "&password=" + password + "&cpassword=" + cpassword, true);
            http.send();

        }
    }
</script>

<%- include("footer") %>
</body>
</html>