<div class="preloader"></div><!-- /.preloader -->

<header class="site-header header-one">
    <div class="top-bar">
        <div class="container">
            <div class="left-block">
                <a href="/userlogin"><i class="fa fa-user-circle"></i> Customer Sign In</a>
                <a href="#"><i class="fa fa-envelope"></i> avneetrandhawa007@gmail.com</a>
            </div><!-- /.left-block -->
            <!--   <div class="logo-block">
                   <a href="/"><img src="images/resources/logo-1-1.png" alt="Awesome Image" /></a>
               </div> --><!-- /.logo-block -->
            <div class="social-block">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook-f"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </div><!-- /.social-block -->
        </div><!-- /.container -->
    </div><!-- /.top-bar -->
    <nav class="navbar navbar-expand-lg navbar-light header-navigation stricky">
        <div class="container clearfix">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="logo-box clearfix">
                <button class="menu-toggler" data-target="#main-nav-bar">
                    <span class="fa fa-bars"></span>
                </button>
            </div><!-- /.logo-box -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="main-navigation" id="main-nav-bar">
                <ul class="navigation-box">
                    <li>
                        <a href="/user/userhome">Home</a>
                        <!--  <ul class="sub-menu">
                              <li><a href="index">Home One</a></li>
                              <li><a href="index2">Home Two</a></li>
                              <li><a href="index">Header Versions</a>
                                  <ul class="sub-menu">
                                      <li><a href="index">Header One</a></li>
                                      <li><a href="index2">Header Two</a></li>
                                  </ul>/.sub-menu
                              </li>
                          </ul> /.sub-menu -->
                    </li>

                    <li><a href="/user/select-taxi">Book A Ride</a></li>

                    <li><a href="/user/my-bookings">Bookings</a></li>

<!--                    <li>-->
<!--                        <a href="#">Bookings</a>-->
<!--                        <ul class="sub-menu">-->
<!--                            <li><a href="/user/my-bookings">New Bookings</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->

                    <li>
                        <a href="#"> Privacy</a>
                        <ul class="sub-menu">
                            <li><a href="/user/userchangepassword">Change Paswword</a></li>
                            <li><a href="/user/logout">Logout</a></li>
                        </ul>
                    </li>

                </ul>
                <div class="right-side-box">
                    <a href="callto:8511900004" class="contact-btn-block">
                            <span class="icon-block">
                                <i class="conexi-icon-phone-call"></i>
                            </span>
                        <span class="text-block">
                                8511900004
                                <span class="tag-line">Phone line</span>
                            </span>
                    </a>
                </div><!-- /.right-side-box -->

            </div><!-- /.navbar-collapse -->

        </div>
        <!-- /.container -->
    </nav>
</header><!-- /.site-header header-one -->

